<br />
<div id="delivery_time">
  <legend><%= t('spree_delivery_time.title') %></legend>
  <div class="field">
    <%= form.collection_select :delivery_time, Spree::DeliveryTimeRange.visible, :to_s, :to_s %>
  </div>
</div>
